/*  Copyright 2018 Javier Aravena
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import url('fonts.css');

$vertical_layout_boundary: 660px

html, body
  height: 100%
  margin: 0
  padding: 0
  background: #eee

h1
  font-family: 'Montserrat', sans-serif;
  font-weight: bold
  font-size: 32px

section#main
  display: flex
  min-height: 100%
  width: 100%
  justify-content: center
  align-items: center
  flex-direction: column

  div
    padding-bottom: 20px
    &.row
      display: flex
      justify-content: center
      align-items: center
      flex-direction: row

      @media only screen and (max-width: $vertical_layout_boundary)
        flex-direction: column

      a.card
        text-align: center
        margin: 10px
        display: block
        padding: 7px 0 0
        box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.33)
        color: #333
        text-decoration: none
        font-family: 'Montserrat', sans-serif;
        background: white
        @media only screen and (max-width: $vertical_layout_boundary)
          width: 80%
        width: 200px

        &:hover
          background-color: #eee
          box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5)

        img
          width: 180px
          @media only screen and (max-width: $vertical_layout_boundary)
            width: 80%
          border-radius: 50%;
          padding: 0 7px

        h2
          padding: 0 0 12px
          //background: #99e
          margin-bottom: 0
