//-
   Copyright 2018 Javier Aravena

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

mixin card(name, image, link)
    div.row
        a.card(href=link)
            img(
                src=`media/${name}.jpg`
                alt=name
                aria-hidden="true"
                srcset=`
                    media/${image}.jpg 180w,
                    media/${image}-320px.jpg 320w,
                    media/${image}-700px.jpg 700w`
                sizes="(max-width: 660px) 700px, 180px"
            )
            h2= name

doctype html
html
    head
        title Aravenas everywhere!
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="stylesheet" type="text/css" href="style/style.css")
    body
        section#main
            h1 Unos Aravenas
            div.row
                + card("Javier", "Javier", "http://javier.aravenas.com")
                + card("Nicolás", "Nicolas", "http://nicolas.aravena.org")
                + card("Vicente", "Vicente", "https://www.facebook.com/vicentearavena")
            h1 Y una Claramunt
            div.row
                + card("Doris", "Doris", "https://www.facebook.com/dorisclaramunt")
